.header__container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
}
.header {
  border-bottom: 1px solid #ececec;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__list {
  @extend %list;
  display: flex;
  margin-left: 88px;

  @media screen and (min-width: 1200px) {
    margin-left: 93px;
  }

  & .nav__link {
    @extend %link;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--main-transition-duration)
      var(--main-transition-timing-function);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  & .nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item {
  position: relative;
}

.nav__list .nav__link.nav__link--current {
  color: var(--accent-color);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
}

.header-contacts__list {
  @extend %list;
  margin-left: auto;

  @media screen and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    & .header-contacts__item + .header-contacts__item {
      margin-left: 50px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & .header-contacts__item + .header-contacts__item {
      margin-top: 10px;
    }
  }
}

.header-contacts__icon {
  margin-right: 8px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.header-contacts__list .header-contacts__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  transition: color var(--main-transition-duration)
    var(--main-transition-timing-function);

  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
  }

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__link {
  @extend %link;
}

@media screen and (max-width: 767px) {
  .nav__list,
  .header-contacts__list {
    display: none;
  }
}
