.team {
  background-color: var(--secondary-background-color);

  &__list {
    @extend %list;
    margin-top: 30px;
    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 50px;
    }
  }
  &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;

    @media screen and (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-right: 30px;
      margin-bottom: 30px;

      &:nth-child(even) {
        margin-right: 0px;
      }

      &:nth-last-child(-n + 2) {
        margin-bottom: 0px;
      }
    }

    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }
  &__description {
    padding-top: 30px;
    padding-bottom: 24px;

    @media screen and (max-width: 767px) {
    }

    @media screen and (min-width: 768px) {
      padding-right: 74px;
      padding-left: 74px;
    }

    @media screen and (min-width: 1200px) {
      padding-right: 32px;
      padding-bottom: 30px;
      padding-left: 32px;
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--secondary-text-color);
  }
  &__profession {
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
  }
}
