.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  transition: fill var(--main-transition-duration)
    var(--main-transition-timing-function);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: var(--primary-background-color);
  transform: translateX(-100%);
  transition: transform 500ms var(--main-transition-timing-function);
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu__container {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding-left: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.burger-btn__close {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-nav-list {
  @extend %list;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
}

.mobile-nav-list__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav-list__links {
  @extend %link;
  color: var(--secondary-text-color);
}
.mobile-nav-list__links--colored {
  color: var(--accent-color);
}

.mobile-contacts {
  @extend %list;
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__link {
  @extend %link;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-contacts__link-tel {
  font-size: 34px;
  color: var(--accent-color);
}

.mobile-contacts__link-mail {
  font-size: 24px;
  color: inherit;
}

.mobile-social-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mobile-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.mobile-social-list__item:not(:last-child)::after {
  content: "";
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.mobile-social-list__link {
  @extend %link;
  color: var(--accent-color);
}
